<div class="centre">
<h1> Ajouter un circuit</h1>

<form  enctype="multipart/form-data" method="POST" action="/ajouterCircuitsResultat"class="form-example">
    <label>Nom</label> <input type="text" name="cirnom">     <br> <br>
    <label>Longueur</label> <input type="text" name="cirlongueur"> m    <br> <br>
    <label>Pays</label>
    <select name="paynum">
        {{#each resultPays}}
        <option value={{this.paynum}} >
            {{this.paynom}}
        </option>
        {{/each}}
    </select>
    <br>     <br>

    <label>Photo du circuit  </label>
    <input name="ciradresseimage" type="file" required>


    <br>
    <br>

    <label>Nombre de spectateurs</label> <input type="text" name="cirnbspectateurs"> spectateurs     <br> <br>

    <label>Description</label> <textarea name="cirtext" rows="3" cols="70"> </textarea>
        <br>     <br>

    <div class="form-example-btn">
        <input type="submit" value="Ajouter">
    </div>
</form>

</div>
