<div class="centre">
<h1> Ajouter un sponsor</h1>
<form  method="POST" action="/ajouterSponsorResultat"class="form-example">
    <label>Nom</label> <input type="text" name="sponom">     <br> <br>
    <label>Secteur d'activité</label> <input type="text" name="sposectactivite">     <br> <br>
    <label>Ecurie sponsorisée :</label>
    <select name="ecunum">
        <option value=0>
            Aucune
        </option>
        {{#each resultEcurie}}
        <option value={{this.ecunum}} >
            {{this.ecunom}}
        </option>
        {{/each}}
    </select>

    <div class="form-example-btn">
        <input type="submit" value="Ajouter">
    </div>
</form>
</div>