<div class="centre">
<h1> Ajouter un pilote</h1>

<form enctype="multipart/form-data"  method="POST" action="/ajouterPiloteResultat"class="form-example">
    <label>Prénom </label> <input type="text" name="pilprenom">     <br> <br>
    <label>Nom</label> <input type="text" name="pilnom">     <br> <br>
    <label>Date de naissance</label> <input type="date"  name="pildatenais">     <br> <br>
    <label>Nationalité</label>
    <select name="paynum">
        {{#each resultPays}}
        <option value={{this.paynum}} >
            {{this.paynom}}
        </option>
        {{/each}}
    </select>
    <br><br>

    <label>Photo du pilote : </label>
    <input name="image" type="file" required>
    <br><br>
    <label>Ecurie</label>
    <select name="ecunum">
        {{#each resultEcurie}}
            <option value={{this.ecunum}} name="ecurie">
                {{this.ecunom}}
            </option>
        {{/each}}
    </select>
    <br>     <br>
    <label>Points</label>  <input type="text"  name="pilpoints"> pts
    <br>    <br>
    <label>Poids</label>  <input type="text" name="pilpoids"> kg
    <br>    <br>
    <label>Taille</label>  <input type="text"  name="piltaille"> cm
    <br>
    <br>
    <label>Description</label> <textarea name="piltexte" rows="3" cols="70"> </textarea>

        <br>     <br>

    <div class="form-example-btn">
        <input type="submit" value="Ajouter">
    </div>
</form>
</div>
