 <div class="centre">
 <img  src="/image/cat_sponsor.png " alt="cat_pilote">
<h1>Gestion des sponsors</h1>
<a href="ajouterSponsor">  <img  src="/image/act_add.png " alt="act_add"> Ajouter un sponsor </a>
 <table>
<tr>
			<th>Nom</th>
			<th>Activite</th>
			<th>Actions</th>
</tr>

 {{#each listeSponsor}}
 <tr>
    <td>  {{this.sponom}}   </td>
    <td> {{this.sposectactivite}}   </td>
    <td> <a  href="/modifierSponsorParam/{{this.sponum}}"><img  src="/image/act_edit.png " alt="act_edit"> Modifier</a> <a  href="/supprimerSponsor/{{this.sponum}}"><img  src="/image/act_delete.png " alt="act_delete"> Supprimer</a>
</tr>
{{/each}}
 </table></div>