<div class="centre">
<h1>Vous venez de modifier le sponsor : {{SponsorApresModif.0.sponom}}  </h1> <br /> <br />

Anciennes données :  <br /> <br />

Numéro : {{SponsorApresModif.0.sponum}} <br /> <br />
Nom : {{SponsorApresModif.0.sponom}} <br /> <br />
Activité : {{SponsorApresModif.0.sposectactivite}} <br /> <br />


Redirection vers la page de gestion des sponsors dans 2 secondes.
<meta http-equiv="Refresh" content="2; url=/sponsors" />

</div>
