<div class="centre">
<h1> Vous venez de supprimer le sponsor  : {{SponsorInfoSuppression.sponum}} </h1>


<b>Nom du sponsor :</b> {{SponsorInfoSuppression.sponom}}<br><br>
<b>Activité du sponsor :</b> {{SponsorInfoSuppression.sposectactivite}}<br><br>

Redirection vers la page de gestion des sponsors dans 2 secondes.
<meta http-equiv="Refresh" content="2; url=/sponsors" />
</div>
